<div class="row">
  <div class="col-sm-9 p-r-0">
    <div id="torrent-list" class="list-group">
    </div>
  </div>
  <div class="col-sm-3 torrent-info p-l-0">
    <div class="center-block">
      <p>This is some longer text to see if it is centered</p>
    </div>
  </div>
</div>
